.footer-wrapper {
	margin-top: 50px;
	padding: 20px;
	background-color: #575859;
	color: white;
	.copyrightContent {
		text-align: center;
		font-size: 12px;
	}
	table {
		color: #ccc;
		font-size: 12px;
		width: 100%;
		td {
			padding: 5px 10px;
			&:nth-child(even) {
				text-align: left;
			}
			&:nth-child(odd) {
				text-align: right;
			}
		}
	}
}