.card {
	background-color: white;
	border: 1px solid #eee;
	box-shadow: 0px 2px 2px #f1f4f6;
	margin: 20px 0;
	padding: 20px;
	text-align: center;
	position: relative;
	.title {
		clear: both;
	}
	.subtitle {
		color: gray;
		margin-bottom: 10px;
	}
	.separator {
		width: 100%;
		height: 12px;
		border-bottom: 1px solid #ccc;
		text-align: center;
		.status {
			font-size: 14px;
			background-color: white;
			padding: 0 10px;
			color: #00a3ad;
		}
	}
	.details-link {
		a {
			color: orange;
			font-size: 16px;
			font-weight: 400;
		}
	}
	.business-wrapper {
		padding: 30px 20px;
		@media only screen and (max-width: 491px) {
			padding: 20px 10px;
		}
		.business {
		    display: inline-block;
		    margin: 10px 10px;
		    text-align: center;
		    position: relative;
		    max-width: 50px;
		    img {
		    	width: 100%;
		    }
		    .hired {
			    position: absolute;
			    bottom: -10px;
			    left: 0px;
			    font-size: 12px;
			    background-color: orange;
			    border-radius: 10px;
			    color: white;
			    padding: 1px 5px;
			}
		}
	}
	.option-menu {
	    position: absolute;
	    right: 20px;
	    top: 10px;
	    max-width: 25px;
	    cursor: pointer;
	    @media only screen and (max-width: 491px) {
			right: 10px;
		}
	    img {
	    	width: 100%;
	    }
	}
	.dropdown-content {
        display: none;
	    position: absolute;
	    right: 30px;
	    margin-top: 10px;
	    background-color: white;
	    min-width: 160px;
	    overflow: auto;
	    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	    z-index: 100;
	    float: right;
	    cursor: pointer;
	    @media only screen and (max-width: 491px) {
			right: 20px;
		}
	    a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            &:hover {
            	background-color: #eee;
            	text-decoration: underline;
            }
        }
    }           
}